ul li {
    list-style: none;
}

.dpnn {
    display: none;
}
.cl {
    clear: both;
}
.tact {
    text-align: center;
}
.mgR64 {
    margin-right: .5333rem;
}

.w25 {
    width: 25% !important;
}
.wi {
    width: 22% !important;
}
.menushow .nav {
    display: block !important;
}

.overall {
    position: relative;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
}
.public {
    z-index: 9;
    position: fixed;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.top {
    width: 16rem;
    height: .775rem;
    left: 0;
    top: .1rem;
    background-image: url('../img/top.png');
}
.top .mainmenu {
    float: left;
    margin: .1667rem 0 0 4.75rem;
}
.top .mainmenu li {
    width: 1.225rem;
    height: .4417rem;
    float: left;
    cursor: pointer;
    overflow: hidden;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;    
}
.mi01 {
    background-image: url('../img/headicon/mi01.png');
}
.mi02 {
    background-image: url('../img/headicon/mi02.png');
}
.mi03 {
    background-image: url('../img/headicon/mi03.png');
}
.mi04 {
    background-image: url('../img/headicon/mi04.png');
}
.mic1,.mi01:hover {
    background-image: url('../img/headicon/mic1.png');
}
.mic2,.mi02:hover {
    background-image: url('../img/headicon/mic2.png');
}
.mic3,.mi03:hover {
    background-image: url('../img/headicon/mic3.png');
}
.mic4,.mi04:hover {
    background-image: url('../img/headicon/mic4.png');
}

.top .user {
    float: right;
    margin: .2167rem 1.4rem 0 0;
}
.top .head {
    width: .3417rem;
    height: .3417rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;   
    background-image: url('../img/user.png');
}
.top .login {
    height: .3417rem;
    line-height: .3417rem;
    font-size: .1167rem;
    color: #253034;
    float: left;
    margin-left: .1333rem;
}
.top .login a {
    cursor: pointer;
    color: #5d83c2;
    margin-left: .0833rem;
    text-decoration: underline;
    font-size: 0.135rem;
}
.top .login a:hover {
    color: #fefeff;
}

.menuleft {
    width: .2583rem;
    height: 8.175rem;
    left: 1.75rem;
    top: .875rem;
    background-image: url('../img/menuleft.png');
}
.menutop {
    width: 1.75rem;
    height: .425rem;
    top: 1rem;
    left: 0rem;
    background-image: url('../img/menutop.png');
}
.menubox {
	
    width: 1.7667rem;
    top: 1.5417rem;
    left: 0rem;
    z-index: 10;  
    height: 5.7667rem;
	scrollbar-track-color:#D6A27E;
    overflow-y: scroll !important;
}

.menubox div:last-of-type li {
	display: none !important;
}

.menubox::-webkit-scrollbar {
        width: 1px;  
        height: 1px;
    } 
    
.mentbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
        background: #535353;
    }
.mentbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
        /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
        border-radius: 10px;
        background: #EDEDED;
    }
    
.iconm {
    width: 1.7667rem;
    height: .5917rem;
    line-height: .5rem;
    float: right;    

    color: #eeeff3;
    font-size: .1333rem;
    
    cursor: pointer;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../img/iconm.png');
}
.iconm:hover {
    background-image: url('../img/iconmcur.png');
}

.menushow .iconmcur {
    background-image: url('../img/iconmcur.png');
}
.menubox .iconm p {
    margin-left: .8333rem;
    width: 65px; 
	overflow: hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}

.menubox .nav {
    width: 1.5rem;
    float: right;
}
.menubox .nav li {
    position: relative;
    width: 1.5rem;
    height: .35rem;
    line-height: .35rem;
    cursor: pointer;
    text-align: right;
    font-size: .1333rem;
    color: #fafbfd;
    background-position: -.0833rem -.1333rem;
    /* background-position: -.1667rem -.1667rem; */
    /* background-repeat: no-repeat;
    background-image: url('../img/micon02.png'); */
}
.menubox .nav li p {
    margin-right: .6833rem;
}
.menubox .nav li i {
    position: absolute;
    left: 0;
    top: 0;
    width: .60rem;
    height: .60rem;
    display: block;
    background-size: 100%;
    background-position: -.16rem -.125rem;
    background-repeat: no-repeat;
    background-image: url('../img/micon02.png');
}

.centerbox {
    position: fixed;
    top: 1rem;
    left: 2.0417rem;
    z-index: 10;
}
.centerbox .bar_a {
    width: 13.7583rem;
    height: .8rem;
    float: left;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../img/bar_a.png');
}
.centerbox .bar_a p {
    font-size: .15rem;
    color: #eeeced;
    margin-left: .4167rem;
}
.centerbox .bar_a p span {
    font-size: .1rem;
    color: #848e98;
    margin-left: .1rem;
}

.centerbox .useroperation {
    float: left;
    width: 100%;
}
.centerbox .useroperation .btn {
    min-width: 1rem;
    height: .1667rem;
    margin: 2px;
    /* padding: 0 .0417rem; */
    line-height: .1667rem;
    text-align: center;
    color: #fff;
    font-size: .0667rem;
    background-color: #0172ff;
    border-radius: .05rem;
    cursor: pointer;
}
.centerbox .useroperation .inquire,
.centerbox .useroperation .reset {
    min-width: .8333rem;
    height: .1833rem;
    margin: 4px;
    line-height: .1833rem;
    color: #fff;
    font-size: .0667rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid #5d82c6;
    border-radius: .0417rem;
}
/* .centerbox .useroperation .inquire {
    margin-right: .2333rem;
} */
.centerbox .useroperation .reset {
    margin: 0;
    margin-right: 0.9117rem;
}

.centerbox .useroperation #conmmunity {
    display: block;
    background-color: black;
    width: .9rem;
    height: .2167rem;
    line-height: .1833rem;
    color: #64696f;
    font-size: .0667rem;
    padding-left: .0833rem;
    border: 1px solid #5d82c6;
    border-radius: .0417rem;
    outline: none;
}
.centerbox .useroperation #option {
		
    display: block;
    width: .9rem;
    height: .2167rem;
    border: none;
    margin: 0 .25rem 0 .2667rem;
    border: 1px solid #5d82c6;
    /* --md-arrow-offset: 3%; */
    -webkit-appearance: none;
    /* background: url('../img/arrow.png') calc(100% - var(--md-arrow-offset) - var(--md-select-side-padding)) center no-repeat;
    background-size: var(--md-arrow-width); */
    /* background-position: 86px 8px; */
    background-position: .7167rem .0667rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow.png');
    border: none;
    cursor: pointer;
    outline: none;
	background-color: black;
    border-bottom: 1px solid #5d82c6;
    color: #64696f;
    
}

.centerbox .bar_b {
    width: 13.7583rem;
    height: .8rem;
    float: left;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../img/bar_b.png');
}
/*.centerbox .bar_b .select {
    width: .1333rem;
    height: .1333rem;
    margin-left: .2083rem;
    cursor: pointer;    
    background-color: #737782;
}*/
.centerbox .bar_b .uid {
    min-width: .15rem;
    height: .1333rem;
    font-size: .1167rem;    
    line-height: .1333rem;
    text-align: center;
    color: #fefeff;
    margin: 0 .35rem 0 .25333rem;
    /*margin: 0 .1rem 0 .1rem;*/
}

.positionchan{
	 margin: 0 .1rem 0 .1rem !important;
}

.positionchan1{
	 margin: 0 .25rem 0 .15rem !important;
}

.centerbox .bar_b .operation {
    width: 3.5rem;
}

.centerbox .bar_b {
    font-size: .1267rem;   
    color: #feffff;
}

.centerbox .content {
    width: 100%;
    float: left;
}
.centerbox .content ul {
    font-size: .1167rem;
}
.centerbox .content ul li {
    margin: 0 .1rem;
    padding: .0833rem 0;
    padding-right: 0.083rem;
    border-bottom: 1px solid #10344e;
}
.centerbox .content ul li a {
    display: inline-block;
    padding: 0 .0333rem;
    cursor: pointer;
}
.centerbox .content ul li a:hover {
    color: #fefeff;
}

.centerbox .content .uid {
    min-width: .15rem;
    height: .1333rem;
    font-size: .1167rem;    
    line-height: .1333rem;
    text-align: center;
    color: #fefeff;
    margin: 0 .033rem 0 .1333rem;
}
.centerbox .content .btn {
    /*padding: 0 .0333rem;*/
    min-width: .3167rem;
    height: .2633rem;
    line-height: .2333rem;
    text-align: center;
    cursor: pointer;
    border-radius: .0333rem;
    /*border: 1px solid #112c4a;*/
    width: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;  
   overflow-x: scroll !important; 
}

.centerbox .content .btn::-webkit-scrollbar {
        width: 0px;  
        height:0px;
    } 
    
.centerbox .content .btn::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
    }
.centerbox .content .btn::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
    }

.centerbox .content .btn:hover {
    color: #fefeff;
}

.centerbox .paging {
    margin: .1667rem .8333rem 0 0;
    float: right;
    font-size: .1167rem;
    color: #dee2e1;
}
.centerbox .paging p {
    margin-left: .25rem;
}
.centerbox .paging .c {
    color: #2598e8;
}
.centerbox .paging .arrowl {
    width: .0583rem;
    height: .0917rem;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../img/arrowl.png');
}
.centerbox .paging .arrowr {
    width: .0583rem;
    height: .0917rem;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../img/arrowr.png');
}
.bottom {
    width: 11.675rem;
    height: .55rem;
    left: 2.6167rem;
    bottom: .1333rem;
    background-image: url('../img/bottom.png');
}

.chan {
	margin: 0 0.1rem 0 0.2rem;
}



